<?xml version="1.0" encoding="UTF-8"?>
<!--这里标红，不用管-->
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 指定连接数据库的 JDBC 驱动包所在位置，指定到你本机的完整路径 -->
    <!-- 没有这行代码会报错”com.mysql.cj.jdbc.Driver“，我找了半天才发现是少了这一行-->
    <!-- jdbc驱动包mysql-connector-java-8.0.26.jar，没有的可以百度一下下载教程下载  -->
    <classPathEntry location="G:\java-tool\jar\mysql-connector-java-8.0.26.jar"/>

    <context id="context1">
        <!-- 注释构建 -->
        <commentGenerator>
            <!-- 去掉所有的注释 -->
            <!-- 抑制生成的注释，由于注释都是英文的，可以不让它生成          -->
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 配置数据库连接信息，-->
        <!-- 数据库四要素 -->
        <!-- 需要按自己的数据库名，密码修改-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/hyron"
                        userId="root"
                        password="123456" />
        <!-- 生成model类，targetPackage指定model类的包名，targetProject指定生成的model类放在哪个工程下面 -->
        <!-- 实体类  -->
        <!--        按自己的项目路径修改-->
        <javaModelGenerator targetPackage="com.hyron.model"
                            targetProject="src/main/java" />

        <!-- 生成Mybatis的Mapper.xml文件，targetPackage指定Mapper.xml文件的包名，targetProject指定生成的Mapper.xml放在哪个工程下面 -->
        <!-- 映射文件 -->
        <!--        按自己的项目路径修改-->
        <sqlMapGenerator targetPackage="com.hyron.mapper"
                         targetProject="src/main/java" />

        <!-- 生成Mybatis的Mapper接口类文件，targetPackage指定Mapper接口类的包名，targetProject指定生成的Mapper接口放在哪个工程下面 -->
        <!-- 操作接口 -->
        <!--        按自己的项目路径修改-->
        <javaClientGenerator  targetPackage="com.hyron.mapper"
                              targetProject="src/main/java" type="XMLMAPPER" />
        <!-- tableName:数据库表名; domainObjectName:对应的Java模型类名 -->
        <!--        按自己的数据库名修改-->
        <table  tableName="t_student"  domainObjectName="Student"
                enableCountByExample="false"
                enableDeleteByExample="false"
                enableSelectByExample="false"
                enableUpdateByExample="false">
        </table>
    </context>
</generatorConfiguration>