<p [style.color]="'red'">
  hello-css works!
</p>
<p [style.color]="true ? 'blue' : 'red'">
  hello-css works!
</p>
<button [style.font-size.px]="20">Red</button>
<button [style.font-size.em]="2">Red</button>
<button [style.font-size.%]="100">Red</button>

<hr/>
<p [ngStyle]="{'color': 'yellow', 'font-size': '80px'}">
  hello-css works!
</p>

<hr/>
<p [ngStyle]="cssobj">
  hello-css works!
</p>

<hr/>
<p class="container">
  hello-css works!
</p>
<p [class]="'container'">
  hello-css works!
</p>
<p class="box" [class.container]="true">
  hello-css works!
</p>

<p [ngClass]="{'box': true, 'bg': false}">
  hello-css works!
</p>


