<!--<h1>Angular Router Sample</h1>-->
<!--<nav>-->
<!--  <a class="button" routerLink="/crisis-list">Crisis Center</a> |-->
<!--  <a class="button" routerLink="/heroes-list">Heroes</a> |-->
<!--  <a class="button" routerLink="">nothing</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<!--<h2>Routing with Custom Matching</h2>-->

<!--Navigate to <a routerLink="/@Angular">my profile</a>-->

<!--<router-outlet></router-outlet>-->
<app-reactive-favorite-color></app-reactive-favorite-color>
<hr/>
<app-name-editor></app-name-editor>
<app-profile-editor></app-profile-editor>
<hr/>
<app-hero-form-template></app-hero-form-template>
<app-hero-form-reactive></app-hero-form-reactive>
